@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:wght@300&family=Quicksand:wght@400&display=swap');

#content {
    max-width: 1600 px;
    margin: 0 auto;
}

body {
    background-color: white;
    font-family: 'Quicksand';
    font-size: 19px;
    margin: 0;
    padding: 0;
}

header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #3da35d;
    font-family: 'Georgia';
    font-weight: lighter;
}

.logo {
    width: 110px;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
    color: #96e072;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color:#ef8354 ;
    color: #96e072;
}

main {
    padding: 25px;
}

h1, h3, h4 {
    font-family: 'Georgia';
    font-weight: lighter;
}

.content1 {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
.title {
    grid-column: 1/3;
    grid-row: 1/2;
    justify-content: left;
}
.summary {
    grid-column: 1/3;
    grid-row: 2/3;
    margin-top: -150px;
}
.habitat {
    grid-column: 1/3;
    grid-row: 3/4;
    margin-top: -150px;
}
.aquatic img {
    width: 75%;
    grid-column: 3/4;
    grid-row: 2/3;

}
.terrestrial img {
    width: 75%;
    grid-column: 3/4;
    grid-row: 3/4;
}
.terrestrial, .aquatic {
    max-width: 75%;
    text-align: center;
    margin: auto;
}
.contents {
    grid-column: 1/2;
    grid-row: 4/5;
    border:5px solid #ef8354;
    border-radius: 5px;
}
.photo {
    max-width: 75%;
    grid-column: 2/3;
    grid-row: 4/5;
    justify-content: center;
    margin: auto;
}
.classification {
    grid-column: 3/4;
    grid-row: 4/5;
    border:5px solid #ef8354;
    border-radius: 5px;
}
.etymology, .taxonomy, .description, .conservation, .interaction, .culture, .also {
    grid-column: 1/4;
}

footer {
    background-color: #3da35d;
    padding: 25px 50px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer h3 {
    color: black;
}

footer a {
    color: #96e072;
    text-decoration: none;
}

footer a:hover {
    color:#ef8354;
    text-decoration: underline;
}

/*Page 2 CSS (minus header and footer): Gallery images on a grid, plus flip card effect to show more information.*/

.intro2 {
    justify-items: center;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 50px;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}
.feature img {
    width: 75%;
    grid-column: 1/2;
    grid-row: 1/2;
}
.jackelope img {
    width: 75%;
    grid-column: 2/3;
    grid-row: 1/2;
}
.platypus img {
    width: 75%;
    grid-column: 3/4;
    grid-row: 1/2;
}
.turtledove img {
    width: 75%;
    grid-column: 1/2;
    grid-row: 2/3;
}
.spidermonkey img{
    width: 75%;
    grid-column: 2/3;
    grid-row: 2/3;
}
.seahorse img{
    width: 75%;
    grid-column: 3/4;
    grid-row: 2/3;
}
.oroboros img{
    width: 75%;
    grid-column: 1/2 ;
    grid-row: 3/4;
}
.werewolf img{
    width: 75%;
    grid-column: 2/3 ;
    grid-row: 3/4;
}
.angel img{
    width: 75%;
    grid-column: 3/4;
    grid-row: 3/4;
}