@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:wght@300&family=Quicksand:wght@400&display=swap');

#content {
    max-width: 1600 px;
    margin: 0 auto;
}

body {
    background-color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 19px;
    margin: 0;
    padding: 0;
}

header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #3da35d;
    font-family: 'Inria Serif';
}

.logo {
    width: 110px;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
    color: #96e072;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color:#ef8354 ;
    color: #96e072;
}

main {
    padding: 25px;
}

h1, h3, h4 {
    font-family: 'Inria Serif';
}






footer {
    background-color: #3da35d;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer h3 {
    color: black;
}

footer a {
    color: #96e072;
    text-decoration: none;
}

footer a:hover {
    color:#ef8354;
    text-decoration: underline;
}

/*Page 2 CSS (minus header and footer): Gallery images on a grid, plus flip card effect to show more information.*/